.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
}

.heading {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
}

.caption {
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.ko {
  background: linear-gradient(90deg,#ffadad,#ffd6a5,#fdffb6,#caffbf,#9bf6ff,#a0c4ff,#bdb2ff,#ffc6ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.landing {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 0.8rem;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(-2.5deg);
  transition: transform 0.2s ease-in-out;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, 0.1) 0, transparent 10%),
    linear-gradient(to top, rgba(255, 255, 255, 0.1) 0, transparent 10%),
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 0, transparent 10%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, transparent 10%);
}

.landing:hover {
  transform: scale(1.1) rotate(-4deg);
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.purp {
  color: rgb(176, 24, 218);
  text-shadow: 0 0 1rem rgb(152, 91, 237);
}